<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>Upload Item <small>Show your existance to the world.</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">upload Item</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <div class="col-md-12 col-sm-12">
                 <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                    <div class="contact_form">
                    <h2>Upload Item</h2>
   <hr>


<%= render 'form' %>
                </div>

                                </div>
                            </div>
                                                        </div>

                        </div>
                </div>
            </div>
        </div>
        <hr class="largehr">
    </div>
</section>