
    <div class="container">
        <div class="page-title public-profile-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                  <%= link_to image_tag(@user.image.url, class: 'img-circle')%>
              
                    <h3><%= @user.name %></h3>
                    <p> <%= @user.location %></p>
                
                    <br />
                    <br />
                    <br />
                    <h2>See why over 70,000 developers, designers, photographers and app developers trust Catalog.<br> Ready to take your marketplace to the next level?</h2>
                    <ul class="list-inline social">
                        <li><a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title="Follow on Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title="Follow on Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title="Follow on Dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#" title="Follow on Behance"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#" title="Follow on Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" title="Show WP's Website"><i class="fa fa-globe"></i></a></li>
                    </ul>
                    <a href="#" class="followbtn">Contact</a> <span>-</span> <a href="#" class="followbtn">Follow</a>
                </div>
            </div>
        </div>
    </div><!-- end container -->
