    <section class="section pagegrey">
            <div class="container">    
                <div class="title-area text-center">
                    <h2>About <small>Trending stock photos, freebies and more..</small></h2>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">About</li>
                        </ol>
                    </div><!-- end bread -->
                </div><!-- /.pull-right -->
            </div><!-- end container -->
        </section>

        <section class="section">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="item-media text-center">
                                <div id="slider" class="flexslider clearfix">
                                    <ul class="slides">
                                        <li><img src="/assets/upload/about_01.jpg" alt="" class="img-responsive"></li>
                                        <li><img src="/assets/upload/about_02.jpg" alt="" class="img-responsive"></li>
                                    </ul>
                                </div>
                            </div><!-- end item-media -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="general-title">
                                        <h4>Welcome to Board</h4>
                                        <hr>
                                    </div><!-- end title -->

                                    <div class="text-widget dropcaps">
                                        <p>Welcome to the Catalog marketplace. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                        <p>Just wrap the first character of the paragraph in a span, then target the span with CSS and style away. See why over 10,000 designers and developers trust Catalog. Ready to take your marketplace to the next level?</p>

                                        <img src="images/signature.gif" alt="">
                                    </div><!-- end text-widget -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="largehr">

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_01.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>John DOE</h4>
                                        <small>Founder CEO</small>
                                        <p>I am John DOE, just wrap the first character of the paragraph in a span, then target the span with and style away.</p>
                                        <a href="#"><i class="fa fa-twitter"></i> @John</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->

                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_02.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>Jenny DOE</h4>
                                        <small>Founder CEO</small>
                                        <p>Hey there, welcome to Jenny page just wrap the first character of the paragraph in a span, then target the and style away.</p>
                                        <a href="#"><i class="fa fa-twitter"></i> @Jenny</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_03.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>Mark BOBSON</h4>
                                        <small>Lead Developer</small>
                                        <p>Howdy guys, i am Mark! Just wrap the first character of the paragraph in a span, then target the span with and style away.</p>
                                        <a href="#"><i class="fa fa-reddit"></i> @Mark</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->

                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_04.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>Amanda TYSON</h4>
                                        <small>Support Manager</small>
                                        <p>Amanda here. Welcust wrap the first character of the paragraph in a span, then target the span wi and style away.</p>
                                        <a href="#"><i class="fa fa-facebook"></i> @Amanda</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_05.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>Thomsan FIYNACE</h4>
                                        <small>Finance Manager</small>
                                        <p>Thomsan said we are good in sust wrap the first character of the paragraph in a span, then target the span wiyle away.</p>
                                        <a href="#"><i class="fa fa-linkedin"></i> @Thomsan</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->

                                <div class="col-sm-3">
                                    <div class="team-image">
                                        <img src="/assets/upload/team_06.jpg" alt="" class="img-responsive">
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                                <div class="col-sm-3">
                                    <div class="team-desc">
                                        <h4>Steave DURSUN</h4>
                                        <small>Reviewer</small>
                                        <p>Steave angry because just wrap the first character of the paragraph in a span, then target the span withyle away.</p>
                                        <a href="#"><i class="fa fa-github"></i> @Steave</a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="largehr">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="general-title">
                                        <h4>Catalog in Numbers</h4>
                                        <hr>
                                    </div><!-- end title -->

                                    <div class="text-widget">
                                        <p>Just wrap the first character of the paragraph in a span, then target the span with CSS and style away. See why over 10,000 designers and developers trust Catalog. Ready to take your marketplace to the next level?</p>
                                    </div><!-- end text-widget -->
                                </div><!-- end col -->

                                <div class="col-sm-6">
                                    <div class="general-title">
                                        <h4>We Are Hiring</h4>
                                        <hr>
                                    </div><!-- end title -->

                                    <div class="text-widget">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipny web sirious versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). <a href="#">See available jobs</a></p>
                                    </div><!-- end text-widget -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="largehr">

                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="general-title">
                                        <h4>Our Skills</h4>
                                        <hr>
                                    </div><!-- end title -->

                                    <div class="text-widget">
                                        <div class="skills text-left">
                                            <p>Web Design</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-transitiongoal="87"><span>87</span></div>
                                            </div>
                                            <p>Web Development</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-transitiongoal="66"><span>66</span></div>
                                            </div>
                                            <p>SEO Marketing</p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" data-transitiongoal="86"><span>86</span></div>
                                            </div>
                                        </div><!-- end skills -->
                                    </div><!-- end text-widget -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="largehr">

                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="fun-facts text-center">
                                        <span class="fun-icon"><i class="fa fa-users"></i></span>
                                        <h3>Marketplace Members</h3>
                                        <p class="stat-count">12690</p>
                                    </div><!-- end service-box -->
                                </div><!-- end col -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="fun-facts text-center">
                                        <span class="fun-icon"><i class="fa fa-image"></i></span>
                                        <h3>Products for Sale</h3>
                                        <p class="stat-count">26700</p>
                                    </div><!-- end service-box -->
                                </div><!-- end col -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="fun-facts text-center">
                                        <span class="fun-icon"><i class="fa fa-shopping-cart"></i></span>
                                        <h3>Market Shop</h3>
                                        <p class="stat-count">1200</p>
                                    </div><!-- end service-box -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end content -->
            </div>
        </section>

        <section class="section nopad">
            <div class="container-fluid">    
                <div class="content-message">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>See why over 10,000 photographers, artists, graphic designers and app developers trust Catalog.<br> Ready to take your marketplace to the next level?</h2>
                            <a href="#" class="btn btn-primary btn-lg">Join us Today</a>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content message -->
            </div><!-- end container -->
        </section>
