<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>Our Blog <small>Trending stock photos, freebies and more..</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Blog</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="page-content">
                        <div class="storelist bloglist panel panel-info">
                            <div class="panel-body">
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_01.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>90+ Free Web Applications for Web Designers</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Collections</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 23/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_02.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>WordPress Custom Login Plugins (Free Version)</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Collections</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 12/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_03.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>How to Optimize Your Images for Web</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> How to</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 11/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_04.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>Win $10 Market Credit - Giveaway</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Giveaway</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 11/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_05.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>80+ Free Edition Photoshop Brushs for Graphicers</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Freebies</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 11/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">
                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_06.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>Best Free WordPress Themes - 2017 February Edition</a></h4>

                                        <h4><a href="single.html"></a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Collections</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 08/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                                <hr>
                                <div class="form-group row wow fadeIn">
                                    <div class="col-sm-4 col-xs-12">

                                        <a href="single.html"><img alt="" class="img-responsive img-thumbnail" src="/assets/upload/blog_07.jpg"></a>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <h4><a>120+ Free Web Icons (Ecommerce Ready</a></h4>
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-folder-open-o"></i> Freebies</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o"></i> 11/12/2015</a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> Amanda</a></li>
                                        </ul>
                                        <p>There are many variations of passages of WebMarket available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                    </div>
                                </div><!-- end form-group -->
                            </div><!-- end panel-body -->
                        </div><!-- end store-list -->
                    </div>
                    <hr class="invis">
                    <div class="content-after text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="pagination-wrapper">
                                    <ul class="pagination">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end content after -->
                </div><!-- end col -->
                <div id="sidebar" class="col-md-3 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Subscribe Us</h4>
                        </div><!-- end widget-title -->
                        <div class="contact_form">
                            <form id="contactform" action="http://showwp.com/demos/catalog/photo-version/contact.php" name="contactform" method="post">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                                <button type="submit" value="SEND" id="submit" class="btn btn-primary"> Subscribe</button>
                            </form>
                        </div>
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Recent Posts</h4>
                        </div><!-- end widget-title -->
                        <div class="shopwidget">
                            <ul class="shop-list">
                                <li>
                                    <div class="alignleft">
                                        <img src="/assets/upload/blog_01.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">90+ Free Web App...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="/assets/upload/blog_02.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">WordPress Custom...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                                <li>
                                    <div class="alignleft">
                                        <img src="/assets/upload/blog_03.jpg" alt="">
                                    </div><!-- end entry -->
                                    <h3><a href="#" title="">How to Optimize...</a></h3>
                                    <small>22.12.2015</small>
                                    <a class="new-price" href="#">Read More</a>
                                </li>
                            </ul><!-- end blog list -->
                        </div><!-- end blogwidget -->
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Blog Categories</h4>
                        </div><!-- end widget-title -->
                        <ul class="cats">
                            <li><a href="#">Coding <span>(12)</span></a></li>
                            <li><a href="#">Design & Development <span>(21)</span></a></li>
                            <li><a href="#">Branding <span>(44)</span></a></li>
                            <li><a href="#">Social Marketing <span>(09)</span></a></li>
                            <li><a href="#">Form Elements <span>(31)</span></a></li>
                            <li><a href="#">LifeStyle <span>(41)</span></a></li>
                        </ul>
                    </div><!-- end widget -->
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Popular Tags</h4>
                        </div><!-- end widget-title -->
                        <div class="tags">
                            <a href="#">Decoration</a>
                            <a href="#">Art</a>
                            <a href="#">Sweet</a>
                            <a href="#">Megas</a>
                            <a href="#">Shopping</a>
                            <a href="#">Creative</a>
                            <a href="#">Furniture</a>
                            <a href="#">Swede</a>
                            <a href="#">Martin</a>
                        </div><!-- end tags -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>