<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>404 <small>Sorry but the page not found</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">404</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-content">
                        <div class="page-404-content">
                            <div class="row">
                                <div class="col-sm-6 hidden-xs">
                                    <img alt="404-page" src="/assets/image-404.jpg">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <h2>
                                        404
                                        <span>Error!</span>
                                    </h2>
                                    <p>
                                        Sorry, we can't find the page you are looking for. <br>Please go to
                                        <a href="#">Home </a> or search something from search form.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>