<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>My Favorites <small>Trending stock photos, freebies and more..</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Favorites</li>
                </ol>
            </div><!-- end bread -->
        </div><!-- /.pull-right -->
    </div><!-- end container -->
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row cart-body">
                        <form class="form-horizontal" method="post">
                            <div class="col-lg-12 col-md-12">
                                <!--REVIEW ORDER-->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Favorite List
                                    </div>
                                    <!--Logic Here-->
                                </div>
                                <!--REVIEW ORDER END-->
                            </div>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>