<section class="section pagegrey">
    <div class="container">
        <div class="title-area text-center">
            <h2>All Authors <small>Trending stock Projects, Themes and more..</small></h2>
            <div class="bread">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Developers</li>
                </ol>
            </div>
            <!-- end bread -->
        </div>
        <!-- /.pull-right -->
    </div>
    <!-- end container -->
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <div class="storelist">
                <div class="form-group row">
                    <div class="col-md-2 col-xs-12">
                        <img alt="" class="img-responsive img-thumbnail" src="/assets/upload/Hamza.jpg">
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <h4><a href="public-profile.html">Hamza Satti</a></h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> Get Support</a></li>
                            <li><a href="public-profile.html"><i class="fa fa-image"></i> 123 Items</a></li>
                            <li><a href="single-item.html"><i class="fa fa-shopping-cart"></i> 2021 Sales</a></li>
                            <li><i class="fa fa-map-marker"></i> Lahore</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <ul class="list-inline">
                            <li>
                                <a class="sit-preview" href="single-item.html"><img class="img-thumbnail img-responsive" alt="" src="~/images/upload/photo_01.jpg" data-preview-url="/images/upload/photo_01.jpg"></a>
                            </li>
                            <li>
                                <a class="sit-preview" href="single-item.html"><img class="img-thumbnail img-responsive" alt="" src="~/images/upload/photo_02.jpg" data-preview-url="/images/upload/photo_02.jpg"></a>
                            </li>
                            <li>
                                <a class="sit-preview" href="single-item.html"><img class="img-thumbnail img-responsive" alt="" src="~/images/upload/photo_03.jpg" data-preview-url="/images/upload/photo_03.jpg"></a>
                            </li>
                            <li>
                                <a class="sit-preview" href="single-item.html"><img class="img-thumbnail img-responsive" alt="" src="~/images/upload/photo_04.jpg" data-preview-url="/images/upload/photo_04.jpg"></a>
                            </li>
                            <li>
                                <a class="sit-preview" href="single-item.html"><img class="img-thumbnail img-responsive" alt="" src="~/images/upload/photo_05.jpg" data-preview-url="/images/upload/photo_05.jpg"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- end col -->
                    <div class="col-md-2 col-xs-12 text-center">
                        <ul>
                            <li><a href="#" class="btn btn-primary btn-block">Public Profile</a></li>
                            <li><a href="public-profile.html" title="">192 Followers</a></li>
                            <li><a href="public-profile.html" title="">44 Following</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end form-group -->
                <hr>
               
            </div>
            <!-- end row -->
        </div>
        <!-- end content after -->
    </div>
</section>
