  <section class="section pagegrey">
            <div class="container">    
                <div class="title-area text-center">
                    <h2>Get In Touch <small>Please submit a order form.</small></h2>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Order</li>
                        </ol>
                    </div><!-- end bread -->
                </div><!-- /.pull-right -->
            </div><!-- end container -->
        </section>

        <section class="section">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="general-title">
                                        <h4>Order Form</h4>
                                        <hr>
                                    </div><!-- end title -->

                                    <div class="order_form">
 
  <%= render 'form' %>
 
<%= link_to 'Back', orders_path %>
                                    </div>

                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="largehr">

                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <div class="team-desc">
                                        <h4>Holland Office</h4>
                                        <small>CATALOG HQ</small>
                                        <p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
                                        <a href="#"><i class="fa fa-phone"></i> +61 3 8376 6284</a><br>
                                        <a href="#"><i class="fa fa-fax"></i> +61 3 8376 6285</a><br>
                                        <a href="#"><i class="fa fa-envelope-o"></i> <span class="__cf_email__" data-cfemail="cea7a0a8a18eb7a1bbbcbda7baabe0ada1a3">[email&#160;protected]</span></a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->

                                <div class="col-sm-6">
                                    <div class="team-desc">
                                        <h4>Australia Office</h4>
                                        <small>POSTAL MAIL ADDRESS</small>
                                        <p>121 King Street, Melbourne Victoria 3000 Australia.</p>
                                        <a href="#"><i class="fa fa-phone"></i> +61 3 8376 6284</a><br>
                                        <a href="#"><i class="fa fa-fax"></i> +61 3 8376 6285</a><br>
                                        <a href="#"><i class="fa fa-envelope-o"></i> <span class="__cf_email__" data-cfemail="650c0b030a251c0a1017160c11004b060a08">[email&#160;protected]</span></a>
                                    </div><!-- end team-image -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end content -->
            </div>
        </section>